build/
Release/
libaaio/libaaio-0.3.1/

*.o
*.a
*.so
*.dylib
*.dll
*.exe

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt

.vscode/
.idea/
*.swp
*~
.DS_Store

*.log
*.tmp

*.tar.gz
*.zip



